https://www.redfin.com/blog/data-center/

Import data from redfin on housing alse prices in somerville
data frame
shape
info
describe

stored in repository https://github.com/josemonraju/final-project

In [17]:
import pandas as pd
#redfin=pd.read_csv('redfinweekly.tsv', sep='\t', header=0)
redfin=pd.read_csv('fulldata.csv', header=0)

# https://docs.google.com/spreadsheets/d/1YNT5VfZTwSnUK7nqGAPGZUqOVBbsIC_M1vTgYCCLtVg/edit#gid=635767466  # data descriptions

In [25]:
redfin.head()

,Region,Month of Period End,Property Type,Region Type,Seasonally Adjusted,State Code,City,last_updated,Measure Display,parent_metro_region,...,pending_sales_yoy,Period Duration,Price Drops,Price Drops Mom,Price Drops Yoy,property_type_id,region_type_id,Sold Above List,Sold Above List Mom,Sold Above List Yoy
0,"Los Angeles, CA metro area",April 2019,All Residential,Metro,False,CA,NaN,6/14/2020 3:16:51 PM,NaN,"Los Angeles, CA",...,-0.106209,30,0.175055,0.004409,0.016884,-1,-2,0.370088,0.040720,-0.094740
1,"Los Angeles, CA metro area",October 2019,All Residential,Metro,False,CA,NaN,6/14/2020 3:16:51 PM,NaN,"Los Angeles, CA",...,0.023081,30,0.197817,0.005282,-0.057212,-1,-2,0.368987,-0.005647,0.002411
2,"Washington, DC metro area",February 2012,All Residential,Metro,False,DC,NaN,6/14/2020 3:16:51 PM,NaN,"Washington, DC",...,0.182347,30,0.195807,-0.020388,-0.051755,-1,-2,0.183137,0.009144,-0.031781
3,"Washington, DC metro area",July 2014,All Residential,Metro,False,DC,NaN,6/14/2020 3:16:51 PM,NaN,"Washington, DC",...,-0.101671,30,0.286428,-0.006761,0.052224,-1,-2,0.240478,-0.022320,-0.055230
4,"Washington, DC metro area",February 2015,All Residential,Metro,False,DC,NaN,6/14/2020 3:16:51 PM,NaN,"Washington, DC",...,0.027800,30,0.173117,-0.029281,0.013647,-1,-2,0.204159,0.029300,-0.013427

In [22]:
redfin.shape

(700, 65)

In [19]:
redfin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 65 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Region                          700 non-null    object
 1   Month of Period End             700 non-null    object
 2   Property Type                   700 non-null    object
 3   Region Type                     700 non-null    object
 4   Seasonally Adjusted             700 non-null    bool
 5   State Code                      700 non-null    object
 6   City                            100 non-null    object
 7   last_updated                    700 non-null    object
 8   Measure Display                 0 non-null      float64
 9   parent_metro_region             600 non-null    object
 10  Period Begin                    700 non-null    object
 11  Period End                      700 non-null    object
 12  State                           100 non-null    object
 13  Table Id                        700 non-null    int64
 14  Worksheet Filter                700 non-null    object
 15  active_listings                 700 non-null    int64
 16  active_listings_mom             700 non-null    float64
 17  active_listings_yoy             700 non-null    float64
 18  Avg Sale To List                700 non-null    float64
 19  Avg Sale To List Mom            700 non-null    object
 20  Avg Sale To List Yoy            700 non-null    object
 21  Homes Sold                      700 non-null    int64
 22  Homes Sold Mom                  700 non-null    object
 23  Homes Sold Yoy                  700 non-null    object
 24  Inventory                       700 non-null    int64
 25  Inventory Mom                   700 non-null    object
 26  Inventory Yoy                   700 non-null    object
 27  Median Dom                      700 non-null    int64
 28  Median Dom Mom                  700 non-null    int64
 29  Median Dom Yoy                  700 non-null    int64
 30  Median List Ppsf                700 non-null    float64
 31  Median List Ppsf Mom            700 non-null    float64
 32  Median List Ppsf Yoy            700 non-null    float64
 33  Median List Price               700 non-null    float64
 34  Median List Price Mom           700 non-null    float64
 35  Median List Price Yoy           700 non-null    float64
 36  Median Ppsf                     700 non-null    float64
 37  Median Ppsf Mom                 700 non-null    float64
 38  Median Ppsf Yoy                 700 non-null    float64
 39  Median Sale Price               700 non-null    object
 40  Median Sale Price Mom           700 non-null    object
 41  Median Sale Price Yoy           700 non-null    object
 42  months_of_supply                700 non-null    float64
 43  months_of_supply_mom            700 non-null    float64
 44  months_of_supply_yoy            700 non-null    float64
 45  New Listings                    700 non-null    int64
 46  New Listings Mom                700 non-null    object
 47  New Listings Yoy                700 non-null    object
 48  Number of Records               700 non-null    int64
 49  off_market_in_two_weeks         700 non-null    float64
 50  off_market_in_two_weeks_mom     700 non-null    float64
 51  off_market_in_two_weeks_yoy     700 non-null    float64
 52  parent_metro_region_metro_code  600 non-null    float64
 53  pending_sales                   700 non-null    int64
 54  pending_sales_mom               700 non-null    float64
 55  pending_sales_yoy               700 non-null    float64
 56  Period Duration                 700 non-null    int64
 57  Price Drops                     700 non-null    float64
 58  Price Drops Mom                 700 non-null    float64
 59  Price Drops Yoy                 699 non-null    float64
 60  property_type_id                700 non-null    int64
 61  region_type_id                  700 non-null    int64
 62  Sold Above List                 700 non-null    float64
 63  Sold Above List Mom             700 non-null    float64
 64  Sold Above List Yoy             700 non-null    float64
dtypes: bool(1), float64(28), int64(13), object(23)
memory usage: 350.8+ KB

In [20]:
redfin.describe()
#

,Measure Display,Table Id,active_listings,active_listings_mom,active_listings_yoy,Avg Sale To List,Homes Sold,Inventory,Median Dom,Median Dom Mom,...,pending_sales_yoy,Period Duration,Price Drops,Price Drops Mom,Price Drops Yoy,property_type_id,region_type_id,Sold Above List,Sold Above List Mom,Sold Above List Yoy
count,0.0,700.000000,7.000000e+02,700.000000,700.000000,700.000000,700.000000,7.000000e+02,700.000000,700.000000,...,700.000000,700.0,700.000000,700.000000,699.000000,700.0,700.000000,700.000000,700.000000,700.000000
mean,NaN,27489.142857,3.464947e+05,-0.000318,-0.048132,0.983165,73448.505714,2.596844e+05,42.417143,-0.587143,...,0.072824,30.0,0.208929,0.000140,0.002751,-1.0,-0.142857,0.271150,0.001370,0.014160
std,NaN,15730.154156,8.039724e+05,0.083291,0.131487,0.018537,171871.153370,6.069389e+05,22.443768,7.540798,...,0.166812,0.0,0.070155,0.036967,0.045520,0.0,4.552305,0.105387,0.026280,0.056036
min,NaN,1400.000000,5.183000e+03,-0.317038,-0.515667,0.920543,1047.000000,2.393000e+03,6.000000,-50.000000,...,-0.571898,30.0,0.005546,-0.150437,-0.182282,-1.0,-2.000000,0.090845,-0.118084,-0.301825
25%,NaN,14454.000000,1.311475e+04,-0.038121,-0.120529,0.971446,3539.500000,9.374250e+03,27.000000,-3.250000,...,-0.015110,30.0,0.164075,-0.014858,-0.021200,-1.0,-2.000000,0.192071,-0.013037,-0.010339
50%,NaN,31084.000000,2.143400e+04,0.001327,-0.051424,0.985189,5271.000000,1.468050e+04,40.000000,1.000000,...,0.054312,30.0,0.206325,0.004985,0.000517,-1.0,-2.000000,0.242603,-0.000800,0.017352
75%,NaN,42644.000000,3.761150e+04,0.041881,0.029137,0.994376,7380.750000,2.753475e+04,54.000000,4.000000,...,0.139052,30.0,0.260768,0.021579,0.020398,-1.0,-2.000000,0.346707,0.013325,0.040726
max,NaN,47894.000000,2.726266e+06,0.311180,0.632838,1.047189,691860.000000,2.158166e+06,145.000000,15.000000,...,1.458482,30.0,0.469359,0.198008,0.221004,-1.0,11.000000,0.637869,0.127475,0.171318

In [24]:
c

,Region,Month of Period End,Property Type,Region Type,Seasonally Adjusted,State Code,City,last_updated,Measure Display,parent_metro_region,...,pending_sales_yoy,Period Duration,Price Drops,Price Drops Mom,Price Drops Yoy,property_type_id,region_type_id,Sold Above List,Sold Above List Mom,Sold Above List Yoy
10,"Boston, MA metro area",April 2014,All Residential,Metro,False,MA,NaN,6/14/2020 3:16:51 PM,NaN,"Boston, MA",...,0.037197,30,0.131010,0.016560,0.006313,-1,-2,0.302013,0.034516,0.033692
11,"Boston, MA metro area",April 2016,All Residential,Metro,False,MA,NaN,6/14/2020 3:16:51 PM,NaN,"Boston, MA",...,0.007907,30,0.235082,0.019396,0.025092,-1,-2,0.371295,0.073751,0.058774
12,"Boston, MA metro area",June 2016,All Residential,Metro,False,MA,NaN,6/14/2020 3:16:51 PM,NaN,"Boston, MA",...,-0.106178,30,0.317789,0.023589,-0.000180,-1,-2,0.421372,0.005830,0.026894
13,"Boston, MA metro area",July 2016,All Residential,Metro,False,MA,NaN,6/14/2020 3:16:51 PM,NaN,"Boston, MA",...,-0.110349,30,0.272923,-0.044866,-0.018144,-1,-2,0.417021,-0.004351,0.033986
14,"Boston, MA metro area",June 2017,All Residential,Metro,False,MA,NaN,6/14/2020 3:16:51 PM,NaN,"Boston, MA",...,0.046138,30,0.323349,0.028764,0.005560,-1,-2,0.506998,0.033065,0.085627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,"Boston, MA metro area",April 2019,All Residential,Metro,False,MA,NaN,6/14/2020 3:16:51 PM,NaN,"Boston, MA",...,0.041120,30,0.278429,0.051737,0.033720,-1,-2,0.385626,0.053118,-0.096793
667,"Boston, MA metro area",December 2014,All Residential,Metro,False,MA,NaN,6/14/2020 3:16:51 PM,NaN,"Boston, MA",...,0.058016,30,0.108771,-0.042990,-0.003888,-1,-2,0.216953,-0.019781,-0.016293
679,"Boston, MA metro area",February 2015,All Residential,Metro,False,MA,NaN,6/14/2020 3:16:51 PM,NaN,"Boston, MA",...,1.139959,30,0.083075,-0.039068,-0.017376,-1,-2,0.207940,-0.009818,-0.003334
680,"Boston, MA metro area",July 2015,All Residential,Metro,False,MA,NaN,6/14/2020 3:16:51 PM,NaN,"Boston, MA",...,0.176876,30,0.291067,-0.026902,0.111557,-1,-2,0.383035,-0.011442,0.059163
690,"Boston, MA metro area",September 2017,All Residential,Metro,False,MA,NaN,6/14/2020 3:16:51 PM,NaN,"Boston, MA",...,0.054101,30,0.337401,0.042372,0.027317,-1,-2,0.410256,-0.027018,0.052899

In [ ]:
s=redfin[redfin['State Code'==MA], ]

Option #2
https://www.kaggle.com/zynicide/wine-reviews/data

In [28]:
wine=pd.read_csv('wine.csv', header=0)

In [29]:
wine.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

df.loc[['a'], ['b']] = df.loc[['a'], ['b']].applymap(lambda x: ['one', 'two', 'three'])